:root {
  --red--color: #ff000f;
  ---blue--color: #1f259f;
  --gray--color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
a {
  color: #000;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

.section--container {
  padding: 0 185px;
}

.container {
  padding: 0 75px;
}

.red__line {
  width: 80px;
  height: 6px;
  background: var(--red--color);
}

.blue--text {
  color: var(---blue--color);
}

/* NAVIGATION */
nav {
  width: 100%;
  height: 60px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav__col1 p {
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav__col2 {
  display: flex;
}
.nav__col2 li {
  margin-right: 60px;
}
.nav__col2 li:last-child {
  margin-right: 0;
}
.nav__col2 a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/* HERO SECTION */

.hero__section {
  height: 71.5vh;
  background-image: url("/images/hero--img.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.hero__section .section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero__section h1 {
  font-size: 40px;
  line-height: 48px;
  width: 520px;
  margin-top: 30px;
}
.hero__section p {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 24px;
  width: 520px;
}
.hero__section a {
  margin-left: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

/* ABOUT US SECTION */

.about__us--section {
  padding-top: 60px;
  padding-bottom: 140px;
}

.about__us--section h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 30px 0;
}
.about__us--section p {
  width: 520px;
}
.about__us--section p:last-child {
  margin-top: 20px;
}

/* Company Culture */

.company__culture--section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.company__culture--div {
  background: var(---blue--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: #fff;
  position: absolute;
  width: 740px;
  right: 75px;
}
.company__culture--div h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 30px 0;
}
.company__culture--div p {
  font-size: 14px;
  line-height: 17px;
}
.company__culture--div p:last-child {
  margin-top: 20px;
}

/* Testimonials */

.testimonials {
  padding: 100px 0;
}
.testimonials .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials__col1 {
  background: var(--gray--color);
  padding: 17px 30px;
  padding-bottom: 0px;
  flex: 1;
}
.quotes__up,
.quotes__down {
  color: var(--red--color);
  font-size: 40px;
  font-weight: 700;
}
.quotes__down {
  width: 100%;
  text-align: right;
  margin-top: 2px;
}

.testimonails__col1--text {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  width: 610px;
}

.testimonials__col2 {
  flex: 1;
  margin-left: 140px;
}

/* Services */
.services--section {
  padding-bottom: 100px;
}
.services--section .section--container {
  margin-bottom: 60px;
}
.services--section .section--container h2 {
  margin: 30px 0;
  font-size: 40px;
  line-height: 48px;
}
.services--section .section--container p {
  font-size: 14px;
  line-height: 17px;
}
.services--section .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.services--box {
  display: flex;
  flex-direction: column;
}
.services--box h4 {
  font-size: 20px;
  margin: 30px 0;
}
.services--box p {
  font-size: 14px;
}

/* Solutions */

.solutions--box1 {
  background-image: url("/images/solutions__img1.png");
  justify-content: flex-start !important;
  padding-top: 60px !important;
}
.solutions--box1 h2 {
  font-size: 40px;
  margin-top: 30px;
}

.solutions--box2 {
  background-image: url("/images/solutions__img2.png");
}
.solutions--box3 {
  background-image: url("/images/solutions__img3.png");
}
.solutions--box4 {
  background-image: url("/images/solutions__img4.png");
}
.solutions--box5 {
  background-image: url("/images/solutions__img5.png");
}
.solutions--box6 {
  background-image: url("/images/solutions__img6.png");
}
.solutions--box7 {
  background-image: url("/images/solutions__img7.png");
}
.solutions--box8 {
  background-image: url("/images/solutions__img8.png");
}

.solutions-box {
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  padding-right: 0;
  color: #fff;
}
.solutions-box h4 {
  font-size: 20px;
}
.solutions-box p {
  font-size: 14px;
  width: 240px;
  margin-top: 30px;
}
.solutions--section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 30px;
  gap: 30px;
}

/* Expertise */
.expertise--section {
  padding-top: 100px;
  padding-bottom: 60px;
}

.expertise--section .container,
.cost__effectivness--section .container,
.quality--section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.expertise--div,
.cost__effectivness--div {
  background: var(--gray--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: #fff;
  position: absolute;
  width: 740px;
  right: 75px;
  color: #000;
}
.expertise--div h2,
.cost__effectivness--div h2,
.quality--div h2 {
  margin: 30px 0;
  font-size: 40px;
}

/* Quality */

.quality--section {
  padding-bottom: 60px;
}
.quality--section .container {
  justify-content: flex-end;
}

.quality--div {
  background: var(--gray--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: #fff;
  position: absolute;
  width: 740px;
  left: 75px;
  color: #000;
}

/* Cost Effectivness */
